root = true

[*.py]
max_line_length = 80
indent_size = 4
indent_style = space

[Makefile]
tab_width = 4
indent_size = tab
indent_style = tab

[{*.html,*.scss,*.css,*.js}]
indent_style = space
indent_size = 2
